
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #999999;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container_top */
.container {
    width: 100%;
    max-width: 1201px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* Header */
.header {
    width: 100%;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 3vmax;
    font-weight: 700;
    color: #fff;
}

.nav {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    text-transform: uppercase;
}

.nav_link {
    position: relative;
    
    color: #fff;
    text-decoration: none;
    
    transition: color 0.1s linear;
}

.nav_link + .nav_link {
    margin-left: 2em;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    
    background-color: #fce38a;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    margin: 3% auto;
    
    transform: opacity 0.1s linear;
}

.nav_link:hover {
    color: #fce38a;
}

.nav_link:hover:after {
    opacity: 1;
}

/* Hamburger menu - simple */
/* 
#menu_toggle {
    opacity: 0;
}
.menu_btn {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.menu_btn>span, 
.menu_btn>span::before,
.menu_btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
}
.menu_btn>span::before {
    content: "";
    top: -8px;
}
.menu_btn>span::after {
    content: "";
    top: 8px;
}
.menu_box {
    display: block;
    visibility: hidden;
    position: relative;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba (0, 0, 0, 0.2);
    transition-duration: 0.5s;
}
.menu_item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.5s;
}
.menu_item:hover {
    background-color: #cfd8dc;
}
#menu_toggle:checked ~.menu_btn>span {
    transform: rotate(45deg);
}
#menu_toggle:checked ~.menu_btn>span::before {
    top: 0;
    transform: rotate(0);
}
#menu_toggle:checked ~.menu_btn>span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu_toggle:checked ~
.menu_box {
    visibility: visible;
    left: 0;
}
 */

/* Hamburger menu - with animation */
.hamburger_menu {
    position: relative;
    width: 50%;
    min-height: 50px;
    background-color: transparent;
    overflow: hidden;
    display: none;
}
#menu_toggle{
    display: none;
}
.menu_btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
}
.menu_btn>span {
    width: 30px;
    height: 30px;
}
.menu_btn>span::before,
.menu_btn>span::after {
    display: block;
    position: absolute;
    top: 45%;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.45s;
    content: "";
    opacity: 0;
}
.menu_btn>span::before {
    transform: rotate(45deg) scaleY(1);
}
.menu_btn>span::after {
    transform: rotate(-45deg) scaleY(1);
}
.menu_box {
    margin: 0% 7%;
    transition: 0.45s;
}
.menu_box a {
    text-decoration: none;
}
.menu_item {
    display: block;
    float: right;
    clear: both;
    color: transparent;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -6px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2);
    transition: 0.45s, opacity 0.1s;
}
.menu_item:nth-child(n + 4) {
    opacity: 0;
}
.menu_item::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    transform: translateY(-50%) scaleY(5);
    transition: 0.45s;
}
#menu_toggle:checked ~.menu_box {
    pointer-events: auto;
    transform: translate(-50px, 0px);
}
#menu_toggle:checked ~.menu_box .menu_item {
    color: #fff;
    letter-spacing: 0;
    height: 30px;
    line-height: 40px;
    margin-top: 0;
    opacity: 1;
    transform: scaleY(1);
    transition: 0.45s, opacity 0.1s;
}
#menu_toggle:checked ~.menu_box .menu_item::before {
    opacity: 0;
}
#menu_toggle:checked ~.menu_btn>span::before {
    opacity: 1;
}
#menu_toggle:checked ~.menu_btn>span::after {
    opacity: 1;
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    height: calc(var(--vh, 1vh) * 100);
    background: url("images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.intro_inner {
    /* margin: 25% auto 0; */
    text-align: center;
}

.intro_title {
    width: 100%;
    /* max-height: 248px; */
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 6vmax;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
}

.intro_title:after {
    content: "";
    display: block;
    width: 7vmax;
    height: 3px;
    background: #fff;
    margin: 4vh auto;
}

.intro_suptitle {
    width: 100%;
    color: #ffffff;
    font-family: "Kaushan Script", cursive;
    font-size: 3vmax;
    font-weight: 400;
    margin: 4% auto 1%;
}


/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    margin: 1% auto;
        
    border: 3px solid #fff;
    
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    
    transition: color 0.2s linear, border-color 0.2s linear;
}

.btn:hover {
    color: #fce38a;
    border-color: #fce38a;
    background-color: #fff;
}

/* Slider */
.header_slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.slider_inner {
    display: flex;
    justify-content: space-between;
}

.slider_item {
    width: 24%;
    padding: 10px 0;
    border-top: 3px solid #fff;
    opacity: 0.7;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;  
    position: relative;
    transition: all 0.2s linear;
}

.slider_num {
    font-size: 24px;
    font-weight: 700;
}

.slider_item:hover {
    cursor: pointer;
    opacity: 1;
}

.slider_item:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f38181;
    
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.slider_item:hover:before {
    opacity: 1;
}

/* Sections with heading and text */

.section_inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 7% auto 0%;
}

.section_suptitle {
    width: 100%;
    color: #333333;
    font-family: "Kaushan Script", cursive;
    font-size: 2.5vmax;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
}

.section_title {
    width: 100%;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vmax;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;

}

.section_title:after {
    content: "";
    display: block;
    width: 3em;
    height: 3px;
    background-color: #f38181;
    margin: 3vh auto;

}

.section_p {
    width: 70%;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 4%;
}

.imgs1 {
    display: flex;
    justify-content: space-around;
    margin: 0 0 8%;
    width: 100%;
    max-width: 1200px;
}

.imgs1_block {
    display: block;
    background: linear-gradient(to bottom, #e3887e, #fce38a);
    padding: 0 0;
    transition: all 0.2s linear;
    width: 32%;
    max-width: 380px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img1 {
    display: block;
    transition: opacity 0.2s linear;
    width: 100%;
    max-width: 380px;
}

.img1_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    max-width: 200px;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.imgs1_block:hover {
    box-shadow: 10px 10px #95e1d3;
    transform: translate(-10px, -10px);
}

.imgs1_block:hover .img1 {
    opacity: 0.1;
}

.imgs1_block:hover .img1_text {
    opacity: 1;
}

/* Statistics_bar */

.statistics_bar {
    width: 100%;
    height: auto;
    background-color: #95e1d3;
    margin: 0;
}

.bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bar_section {
    width: 25%;
    min-height: 12vmax;
    border-right: 1px solid rgba(255,255,255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bar_section.border_left {
    border-left: 1px solid rgba(255,255,255, 0.3);
}

.bar_num {
    display: block;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vmax;
    font-weight: 700;
    text-transform: uppercase;
}

.bar_string {
    display: block;
    color: #ffffff;
    font-family: Montserrat;
    /* font-size: 0.7vmax; */
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

/* Amazing services */

.amazing_services_table {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 0;

}

.services_block {
    width: 33.33%;
    min-width: 250px;
    max-width: 380px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5% 1%;
}

.services_block.line {
    border-bottom: 1px solid #e5e5e5;
}

.services_icon {
    margin: 5% 8% 5% 5%;
}

.services_header {
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.services_text {
    color: #999999;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

/* Unique design */

.section.unique_design {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background: url("images/landscape.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.devices {
    max-width: 60vw;
    position: relative;
    left: -5%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 3%;
}

.img_tablet {
    max-width: 100%;
    height: auto;
}

.img_phone {
    max-width: 60%;
    height: auto;
    position: absolute;
    right: -35%;
    bottom: -15%;
}

/* What we do */

.what_main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin: 0 0 8%;
}

.what_main_photo {
    width: 49%;
    max-width: 570px;
    height: auto;
    padding: 0 0.7% 0 0;
}

.what_main_blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
}

.blocks {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.what_main_block1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    border: 2px solid #e5e5e5;
    position: relative;
    margin: 0 0;
    cursor: pointer;
}

.w_block1_icon {
    position: absolute;
    top: 25%;
    left: 2.5%;
}

.w_block1_text {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    top: 8%;
    left: 11%;
}

.w_block1_arrow {
    position: absolute;
    top: 40%;
    left: 92%;
    /*transition: transform 0.1s linear;*/
}

.what_main_block2 {
    display: none;
    width: 100%;
    height: 120px;
    border: 2px solid #e5e5e5;
    border-top: none;
    margin: 0 0;
    padding: 0 1%;
    position: relative;
    overflow: auto;
}

.what_main_block2::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

.what_main_block2::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 3px;
    background-color: #95e1d3;
}

.w_block2_text {
    margin: 2%;
}

/* Reviews */
.reviews {
    width: 100%;
    max-height: 290px;
    background-color: #f8f8f8;
}

.reviews_main {
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#arrow_prev {
    transform: rotate(-90deg) scale(1.2);
    margin:auto 5% auto 1%;
    cursor: pointer;
}

#arrow_next {
    transform: rotate(90deg)  scale(1.2);
    margin:auto 1% auto 5%;
    cursor: pointer;
}

.slider {
    overflow: hidden;
    position: relative;
    width: 900px;
    margin: 0 auto;
}

.slides {
    width: 100%;
    position: relative;
    transition: 1.5s;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.slide_wrapper {
    float: left;
    display: block;
}

.slide {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*float: left;*/
}

.review_photo {
    width: 15vw;
    max-width: 150px;
    height: 15vw;
    max-height: 150px;
    border: 3px solid #95e1d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review_text {
    width: 81vw;
    max-width: 760px;
    position: relative;
    display: flex;
}

.autor {
    position: absolute;
    top: 55%;
    left: 20%;
    color: #333333;
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    font-weight: 400;
}

.quote {
    padding-left: 7%;
    padding-right: 7%;
    width: 70vw;
    text-align: justify;
}

.quote:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 5% 0 0 0;
}

/* Who we are */

.imgs2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.captions_photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgs2_block {
    background: linear-gradient(to bottom, #e3887e, #fce38a);
    padding: 0 0;
    transition: all 0.2s linear;
    width: 95%;
    max-width: 380px;
    position: relative;
    margin: 0 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img2 {
    display: block;
    transition: opacity 0.2s linear;
    width: 100%;
    max-width: 380px;
    opacity: 1;
}

.img2_text {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    align-items: center;
    max-width: 380px;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.img2_icon_bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.img2_icon {
    position: absolute;
    /*display: flex;*/
}

.imgs2_block:hover {
    box-shadow: 10px 10px #95e1d3;
    transform: translate(-10px, -10px);
}

.imgs2_block:hover .img2 {
    opacity: 0.1;
}

.imgs2_block:hover .img2_text {
    opacity: 1;
}

.captions_photo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.caption {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}

.name {
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
}

.job {
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 1% auto;
}

/* Logos */
.logos_bar {
    width: 100%;
   /*  max-height: 250px; */
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logos_img {
    max-width: 150px;
    height: auto;
}


/* Some of our work */

.images_pazzle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
}

.images_pazzle_column {
    max-width:25%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.images_pazzle_item {
    display: flex;
    background: linear-gradient(to bottom, #e3887e, #fce38a);
    position: relative;
}

.image_pazzle {
    max-width:100%;
    height: auto;
    transition: opacity 0.2s linear;
}

.images_pazzle_item:hover .image_pazzle {
    opacity: 0.1;
}
.images_pazzle_item:hover .image_pazzle_text {
    opacity: 1;
}

.image_pazzle_text {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.image_pazzle_text b {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 510;
    text-transform: uppercase;
    margin: 8% auto 2%;
}

.image_pazzle_text i {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto;
}

/* Second block of reviews */

.reviews.second {
    background: none;
    margin: 3% auto;
}

.review_photo.second {
    width: 210px;
    height: 210px;
    border: none;
}

.review_photo.second img {
    width: 100%;
}

.review_text.second {
    width: 81vw;
    max-width: 760px;
    position: relative;
    display: flex;
}

/* What people say */

.section.people_say {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-height: 830px; */
    background: url("images/landscape2.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative
}


.people_say_table {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3% auto;
}

.people_say_block {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 2% auto;
}

.people_say_photo {
    transform: scale(1);
    margin: 5% 8% 5% 5%;
}

.people_say_block div {
    width: 80%;
}

.people_say_header {
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.people_say_subheader {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.people_say_subheader:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 5% 0;
}

.people_say_text {
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 5%;
}

/* Latest blog */

.blogs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% auto 5%;
}

.blog_item {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.blog_image {
    width: 100%;
    max-width: 380px;
    height: auto;
    position: relative;
}

.blog_image img {
    width: 100%;
    height: auto;
}

.blog_data {
    background-color: #95e1d3;
    /* width: 60px;
    height: 70px; */
    width: 20%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 8%;
    left: -3%;
}

.blog_day {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 3.5vw;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
}

.blog_month {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
    margin: -20% auto 20%;
    font-style: italic;
}

.blog_header {
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;

}

.blog_text {
    width: 100%;
    min-height: 110px;
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: -5%;
}

.blog_icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.score {
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 3% 10% 3% 3%;
    font-style: italic;
}

/* Open map */

.map {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 200px;
    background: url("images/map.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.map_icon {
    margin: 2% auto 0.5%;
}

.map_text {
    color: #f38181;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.map_text:hover {
    text-decoration: underline;
}

.map_text:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 5% auto 20%;
}

/* Footer */

.fotter_blocks {
    width: 100%;
    /* max-height: 360px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% auto 8%;
}

/*Mogo*/
.fotter_block.mogo {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mogo_header {
    color: #cccccc;
    font-family: Montserrat, sans-serif;
    font-size: 46px;
    font-weight: 700;
    margin-top: -10px;
}

.mogo_text {
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 5% auto;
}

.mogo_followers {
    width: 100%;
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 550;
    border-bottom: 1px solid #e5e5e5;
}

.mogo_followers b {
    font-size: 18px;
    font-weight: 700;
}

.mogo_follow_us {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mogo_follow_text {
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 2%;
}

.mogo_follow_us a {
    margin: auto 2%;
}

.mogo_mail {
    width: 100%;
    margin: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mogo_mail_field {
    width: 50%;
    height: 40px;
    border: 1px solid #e7e7e7;
    padding: 1vw;
    margin: auto 0;
}

.mogo_mail_field::-webkit-input-placeholder {
    color: #cccccc;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
}
.mogo_mail_field::-moz-placeholder {
    color: #cccccc;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
}
.mogo_mail_field:-moz-placeholder {
    color: #cccccc;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
}
.mogo_mail_field:-ms-input-placeholder {
    color: #cccccc;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
}

.mogo_mail_botton {
    cursor: pointer;

    width: 30%;
    height: 40px;
    background-color: #95e1d3;
    border: 0;

    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/*Blogs*/
.fotter_block.fotter_blogs {
    width: 30%;
    display: block;
}

.blogs_header {
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.blogs_block {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.blogs_text {
    width: 60%;
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 2%;
}

.blogs_text a {
    color: #333333;
    text-decoration: none;
}

.blogs_text a:hover {
    text-decoration: underline;
}

.blogs_data {
    color: #999999;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
}

/*Instagram*/
.fotter_block.instagram {
    width: 25%;
    display: block;
}

.instagram_header {
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.instagram_block {
    display: flex;
    flex-wrap: wrap;
}

.instagram_photo {
    width: 33.33%;
    flex: 1 0 auto;
    border: 1px solid #fff;
}

.instagram_photo img {
    width: 100%;
    height: auto;
    display: block;
}

.instagram_link a {
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
    text-decoration: none;
}

.instagram_link a:hover {
    text-decoration: underline;
}

/* Copyright */

.copyright {
    width: 100%;
    height: 60px;
    color: #333333;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright span {
    color: #f38181;
}



@media (max-width: 576px) {
    .nav {
        display: none;
    }
    .hamburger_menu {
        display: block;
    }
    .header_slider {
        display: none;
    }
    .header_inner {
        align-items: flex-start;
    }
    .imgs1 {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .imgs1_block {
        width: 80%;
        margin: 1% auto;
    }
    .services_block {
        width: 100%
    }
    .services_block.line_after_after {
        border-bottom: 1px solid #e5e5e5;
    }
    .amazing_services_table {
        margin: 0 auto;
    }
    .w_block1_text {
        font-size: 12px;
        position: absolute;
        top: 8%;
        left: 15%;
    }
    #arrow_prev {
        transform: rotate(-90deg) scale(2);
    }
    
    #arrow_next {
        transform: rotate(90deg)  scale(2);
    }
    .autor {
        position: absolute;
        top: 70%;
        left: 30%;
    }
    .imgs2 {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .images_pazzle_column {
        max-width:50%;
    }
    .fotter_block.mogo {
        width: 80%;
    }
    .fotter_block.fotter_blogs {
        display: none;
    }
    .bar_string {
        font-size: 2.5vw;
    }
    .logos {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .logos_img {
        flex-basis: 140px;
    }
}

@media (max-width: 768px) and (min-width: 577px) {

    .imgs1 {
        flex-wrap: wrap;
    }
    .imgs1_block {
        width: 45%;
        margin: 2% auto;
    }
    #arrow_prev {
        transform: rotate(-90deg) scale(1.7);
    }
    
    #arrow_next {
        transform: rotate(90deg)  scale(1.7);
    }
    .autor {
        position: absolute;
        top: 60%;
        left: 30%;
    }
    .image_pazzle_text b {
        font-size: 10px;
    }
    
    .image_pazzle_text i {
        font-size: 11px;
    }
    .image_pazzle_text img {
        transform: scale(0.7);
    }

    .fotter_block.mogo {
        width: 48%;
    }
    .fotter_block.fotter_blogs {
        width: 48%;
    }
}

@media (max-width: 768px){
    .bar {
        flex-wrap: wrap;
        justify-content: center;
    }
    .bar_section {
        width: 33%;
    }
    .bar_section.border_left_after {
        border-left: 1px solid rgba(255,255,255, 0.3);
    }
    .services_block.line_after {
        border-bottom: 1px solid #e5e5e5;
    }
    .what_main {
        flex-wrap: wrap;
    }
    .what_main_photo {
        width: 100%;
        margin-bottom: 10px;
    }
    .services_text {
        font-size: 16px;
    }
    .review_photo {
        display: none;
    }
    .quote {
        width: 80vw;
    }
    .people_say_block {
        width: 100%;
    }
    .blog_item {
        width: 80%;
    }
    .mogo_mail_field {
        width: 60%;
    }
    .mogo_mail_botton {
        width: 40%;
    }
    .mogo_follow_us a img {
        width: 130%;
    }
}

@media (max-width: 992px) and (min-width: 767px) {
    .blog_item {
        width: 47%;
    }
    .blog_text {
        min-height: auto;
    }
    .blog_data {
        width: 60px;
        height: 70px;
    }
    .fotter_block.mogo {
        width: 48%;
    }
    .fotter_block.fotter_blogs {
        width: 48%;
    }
    .bar_string {
        font-size: 1.5vw;
    }
}

@media (max-width: 992px) {
    .section_p {
        font-style: 16px;
    }
    .blog_text {
        min-height: auto;
    }
    .blog_data {
        width: 60px;
        height: 70px;
    }
    .blog_day {
        font-size: 30px;
    }
    .blog_month {
        font-size: 15px;
    }
    .blog_item {
        margin-top: 2%;
    }
    .fotter_block.instagram {
        display: none;
    }
    .header_slider {
        display: none;
    }
}



@media (min-width: 1200px) {
    .header_logo {
        font-size: 26px;
    }
    .intro_title:after {
        width: 80px;
    }
    .section_title {
        font-size: 30px;
    }
    .section_suptitle {
        font-size: 24px;
    }
    #arrow_prev {
        transform: rotate(-90deg) scale(1);
    }  
    #arrow_next {
        transform: rotate(90deg)  scale(1);
    }
}


.open_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background: linear-gradient(to bottom, #e3887e, #fce38a);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.open_modal_img1 {
    width: auto;
    max-width: 100%;
    height: auto;
    border: 10px solid white;
} 

.close {
    width: 40px;
    height: 40px;
    margin-left: calc(var(--modalImgWidth));
    margin-bottom: 2%;
    cursor: pointer;
}
.close img {
    width: 100%;
    height: auto;
    opacity: 0.6;
}
/* .close::before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333333;
    border-radius: 20%;
    rotate: 45deg;
    position: relative;
    top: 8px;
    left: -5px;
}
.close::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333333;
    border-radius: 20%;
    rotate: -45deg;
    position: relative;
    top: 4px;
    left: -5px;
} */












































